In [ ]:
1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
2. Create a variable of list type containing 10 elements in it, and apply pandas. Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
3. Create a Pandas DataFrame that contains the following data:
    
    Name          Age             Gender
    Alice          25              Female
    Bob            30              Male
    Claire         27              Female
    
    Then, print the DataFrame

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
ANS- In Pandas, a DataFrame is a two-dimensional labeled data structure that represents a tabular or spreadsheet-like data, with rows and columns. 
     It is essentially a collection of Pandas Series objects, where each Series represents a column in the DataFrame.

A Pandas Series, on the other hand, is a one-dimensional labeled data structure that represents a single column or row of data in a DataFrame. 
It can be thought of as a NumPy array with labels, where each element is assigned a label or index.

Here is an example to illustrate the difference between a Pandas Series and a DataFrame:

In [4]:
import pandas as pd

# Example of a Pandas Series
series = pd.Series([10, 20, 30, 40, 50], name='my_series')
print(series)

# Example of a Pandas DataFrame
data = {'Name': ['Shubham', 'Nishant', 'Bruno'],
        'Age': [25, 22, 2],
        'City': ['Sonipat', 'Sonipat', 'Sonipat']}
df = pd.DataFrame(data)
print(df)

0    10
1    20
2    30
3    40
4    50
Name: my_series, dtype: int64
      Name  Age     City
0  Shubham   25  Sonipat
1  Nishant   22  Sonipat
2    Bruno    2  Sonipat

In [ ]:
In this example, we first create a Pandas Series using the pd.Series() function. It contains a single column of data, [10, 20, 30, 40, 50], 
and is assigned a name of "my_series". The output shows that the Series contains five elements, each with an associated index.

Next, we create a Pandas DataFrame using the pd.DataFrame() function. It contains three columns of data: "Name", "Age", and "City". 
Each column is represented by a separate Pandas Series, and the DataFrame combines them together into a tabular data structure. 
The output shows that the DataFrame contains four rows of data, each with a unique index, and each row contains data for all three columns.

In summary, a Pandas Series represents a single column or row of data, whereas a Pandas DataFrame represents a collection of columns, 
where each column can be a Series.

In [ ]:
5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use 
   one of these functions?

In [ ]:
ANS- Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. 

Some of the commonly used functions are:

    1. head() and tail(): These functions are used to display the first and last n rows of the DataFrame respectively. 
                          They are useful to quickly preview the data and check if it has been loaded correctly.
    
    2. describe(): This function provides a summary of the statistics of the DataFrame, such as count, mean, standard deviation, 
                   minimum, maximum, and quartiles.   
        
    3. drop(): This function is used to remove rows or columns from the DataFrame based on the specified labels or indices.
    
    4. sort_values(): This function is used to sort the DataFrame based on one or more columns, in ascending or descending order.
    
    5. groupby(): This function is used to group the data in the DataFrame based on one or more columns, and apply an aggregation function, 
                  such as sum, mean, or count, to each group.
        
        
These are just a few examples of the many functions available in Pandas to manipulate data in a DataFrame. 
They are commonly used to clean and preprocess data, perform exploratory data analysis, and prepare data for machine learning algorithms.

In [7]:
#Example for describe():

# Example DataFrame
df = pd.DataFrame({'Age': [25, 30, 28, 33, 40, 35, 22, 27]})

# Display summary statistics
print(df.describe())



#Example for sort_values():

# Example DataFrame
df = pd.DataFrame({'Name': ['Shubham', 'Nishant', 'Bruno'],
                   'Age': [25, 22, 2],
                   'City': ['Sonipat', 'Sonipat', 'Sonipat']})

# Sort the DataFrame by 'Age' column in descending order
df = df.sort_values('Age', ascending=False)
print(df)

           Age
count   8.0000
mean   30.0000
std     5.8064
min    22.0000
25%    26.5000
50%    29.0000
75%    33.5000
max    40.0000
      Name  Age     City
0  Shubham   25  Sonipat
1  Nishant   22  Sonipat
2    Bruno    2  Sonipat

In [ ]:
6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
ANS- Series and DataFrame are mutable in nature, while Panel is considered deprecated and not recommended for use in the latest versions of Pandas. 
A mutable object can be modified after it has been created, while an immutable object cannot be modified. 
In Python, basic data types such as integers, floats, and strings are immutable, while lists and dictionaries are mutable. 

In Pandas, Series and DataFrame can be modified by adding, deleting, or modifying elements or columns. 

However, it is important to note that some operations on Series and DataFrame return a new object instead of modifying the original object, 
so it is recommended to use the appropriate methods and functions based on the desired behavior.

In [ ]:
7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
ANS- To create a DataFrame using multiple Series, we can pass the Series as a dictionary to the DataFrame constructor. 
     The keys of the dictionary will become the column names of the DataFrame, and the values of the dictionary will become the Series data. 
     Here is an example:

In [8]:
import pandas as pd

# create first series
series1 = pd.Series([10, 20, 30, 40], name='A')

# create second series
series2 = pd.Series(['apple', 'banana', 'cherry', 'date'], name='B')

# create third series
series3 = pd.Series([True, False, True, False], name='C')

# create DataFrame using the three Series
df = pd.DataFrame({'col1': series1, 'col2': series2, 'col3': series3})

# print the DataFrame
print(df)

   col1    col2   col3
0    10   apple   True
1    20  banana  False
2    30  cherry   True
3    40    date  False

In [ ]:
In this example, we first create three Series - series1, series2, and series3 - using the pd.Series() function. 
The first series contains integers, the second series contains strings, and the third series contains boolean values. 
We assign names to each of the Series using the name parameter.

Next, we create a DataFrame using the three Series by passing a dictionary to the pd.DataFrame() function. 
The keys of the dictionary ('col1', 'col2', 'col3') become the column names of the DataFrame, and the values of the dictionary are the Series data.

Finally, we print the DataFrame using the print() function. The resulting DataFrame will look like the output above

Note that the index of the DataFrame is automatically generated based on the length of the Series data. 
In above example, since each of the Series contains 4 elements, the DataFrame has 4 rows with index values 0, 1, 2, and 3.